@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:root  {
  --background: 184 18% 95%;
  --foreground: 184 5% 10%;
  --card: 184 18% 90%;
  --card-foreground: 184 5% 15%;
  --popover: 184 18% 90%;
  --popover-foreground: 184 95% 10%;
  --primary: 184 47% 37%;
  --primary-foreground: 0 0% 100%;
  --secondary: 184 18% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 146 18% 85%;
  --muted-foreground: 184 5% 40%;
  --accent: 146 18% 80%;
  --accent-foreground: 184 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 184 5% 90%;
  --border: 184 20% 70%;
  --input: 184 20% 50%;
  --ring: 184 47% 37%;
  --radius: 1rem;
}
.dark  {
  --background: 184 18% 10%;
  --foreground: 184 5% 90%;
  --card: 184 18% 10%;
  --card-foreground: 184 5% 90%;
  --popover: 184 18% 5%;
  --popover-foreground: 184 5% 90%;
  --primary: 184 47% 37%;
  --primary-foreground: 0 0% 100%;
  --secondary: 184 18% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 146 18% 25%;
  --muted-foreground: 184 5% 65%;
  --accent: 146 18% 25%;
  --accent-foreground: 184 5% 90%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 184 5% 90%;
  --border: 184 20% 50%;
  --input: 184 20% 50%;
  --ring: 184 47% 37%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
